<div class= "container">
  <h1><%=@question.title%></h1>


  <p><%=@question.description%></p>

  <ul>
    <% @answers.each do |answer| %>
    <li>
      <a href= "/questions/<%=@question.id%>/answers/<%=answer.id%>">
        <%=answer.description%>
      </a></li>
        <a href= "/questions/<%=@question.id%>/answers/<%=answer.id%>/comments/new" >Add a comment</a>
    <% end %>
  </ul>

  <h3><a href= "/questions/<%=@question.id%>/answers/new">Add an Answer</a></h3>

</div>
